.menuSpan{
    display: inline-block;
    padding:.5% 1.5%;
    text-align: center;
    border-right: 1px solid #ccc;
}

.menuLink{
    color: black;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
.menuSpan:hover{
    background-color: rgba(230,230,250,0.5);
    border-radius: 10px ;
}

.active .menuSpan{
    border-bottom: 3px solid blue;
}